/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#root,
#app,
#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", "Arial", sans-serif;
}

header {
    height: 70px;
    background-color: #000;
    color: white;
}
span,
h1 {
    display: inline;
    line-height: 70px;
}

span {
    margin-right: 50px;
    margin-left: 20px;
    font-size: 30px;
}
